{% extends 'layout/layout.html' %}

{% block body %}
    <div class="main">

        <h1>{{ pagetitle }} <small>{{ description }}</small></h1>
        <ul>
{% for error in errors %}
            <li>{{ error }}</li>
{% endfor %}
        </ul>

        <p><a href="{{ rootpath }}">トップへ戻る</a></p>
    </div>
{% endblock %}
