{% extends 'layout/layout.html' %}

{% block body %}
    <div class="main">

        <h1>{{ pagetitle }} <small>{{ description }}</small></h1>
        <p>処理が完了しました。</p>

        <p><a href="{{ rootpath }}">トップへ戻る</a></p>
    </div>
{% endblock %}
