<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no,address=no,email=no">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{ config.appconfig.appname }}</title>
    <meta name="theme-color" content="{{ config.appconfig.themecolor }}">
    <meta name="description" content="{{ config.appconfig.description }}">
    <meta name="author" content="{{ config.appconfig.author }}">
  </head>
  <body>
    <p>処理中です……</p>
  </body>
</html>


